In [3]:
# Importing the fuzzy package
import fuzzy

# Exploring the output of fuzzy.nysiis
fuzzy.nysiis('tommorow')

# Testing equivalence of similar sounding words
fuzzy.nysiis('tommorow') == fuzzy.nysiis('tomorrow')

True

In [4]:
# Importing the pandas module
import pandas as pd

# Reading in datasets/nytkids_yearly.csv, which is semicolon delimited.
author_df = pd.read_csv('datasets/nytkids_yearly.csv', delimiter=";")

# Looping through author_df['Author'] to extract the authors first names
first_name = []
for name in author_df['Author']:
    first_name.append(name.split()[0])

# Adding first_name as a column to author_df
author_df['first_name'] = first_name

# Checking out the first few rows of author_df
author_df.head()

,Year,Book Title,Author,Besteller this year,first_name
0,2017,DRAGONS LOVE TACOS,Adam Rubin,49,Adam
1,2017,THE WONDERFUL THINGS YOU WILL BE,Emily Winfield Martin,48,Emily
2,2017,THE DAY THE CRAYONS QUIT,Drew Daywalt,44,Drew
3,2017,"ROSIE REVERE, ENGINEER",Andrea Beaty,38,Andrea
4,2017,"ADA TWIST, SCIENTIST",Andrea Beaty,28,Andrea

In [5]:
# Importing numpy
import numpy as np

# Looping through author's first names to create the nysiis (fuzzy) equivalent
nysiis_name = []
# ...YOUR CODE FOR TASK 3...
for name in author_df['first_name']:
    nysiis_name.append(fuzzy.nysiis(name))

# Adding nysiis_name as a column to author_df
author_df['nysiis_name']= nysiis_name

# Printing out the difference between unique firstnames and unique nysiis_names:
print('there are ' +
      str(len(author_df['first_name'].unique())- len(author_df['nysiis_name'].unique() )) +
      ' more first names than pronounciations')

there are 25 more first names than pronounciations

In [6]:
# Reading in datasets/babynames_nysiis.csv, which is semicolon delimited.
babies_df = pd.read_csv('datasets/babynames_nysiis.csv', delimiter=";")
# babies_df.head()

# Looping through babies_df to and filling up gender

conditions = [
    (babies_df['perc_female'] > babies_df['perc_male']),
    (babies_df['perc_female'] < babies_df['perc_male'])]
choices = ['F', 'M']
babies_df['gender'] = np.select(conditions, choices, default='N')


gender = babies_df['gender']

# Printing out the first few rows of babies_df
babies_df.head(10)

  babynysiis  perc_female  perc_male gender
0        NaN        62.50      37.50      F
1        RAX        63.64      36.36      F
2       ESAR        44.44      55.56      M
3      DJANG         0.00     100.00      M
4     PARCAL        25.00      75.00      M
5    VALCARY       100.00       0.00      F
6   FRANCASC        63.64      36.36      F
7      CABAT        50.00      50.00      N
8     XANDAR        16.67      83.33      M
9     RACSAN        33.33      66.67      M

In [7]:
# This function returns the location of an element in a_list.
# Where an item does not exist, it returns -1.
def locate_in_list(a_list, element):
    loc_of_name = a_list.index(element) if element in a_list else -1
    return(loc_of_name)

# Looping through author_df['nysiis_name'] and appending the gender of each
# author to author_gender.
author_gender = []
for name in author_df['nysiis_name']:
    index = locate_in_list(list(babies_df['babynysiis']), name)
    if index == -1:
        author_gender.append('Unknown')
    else:
        author_gender.append(babies_df.gender.loc[index])

# Adding author_gender to the author_df
author_df['author_gender'] = author_gender

# Counting the author's genders
author_df['author_gender'].value_counts()

F          395
M          191
Unknown      9
N            8
Name: author_gender, dtype: int64